body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 900px;
}
.container {
    width: 100%;
    min-height: 100%;
    margin: 0px auto;
}
.header {
    height: 140px;
    width: 100%;
    min-width: 900px;
    overflow: hidden;
    background-color: honeydew;
    display: absolute;
    
}
.label {
    width: 300px;
    float: left;
    padding: 10px; 
    margin: 10px;
}
.label1 {
    width :650px;
    text-align: justify;
    float: left;
    padding: 10px;

}
.label p{
    font-size: 15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: deepskyblue;
}
.label1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
} 
.label2 {
    color: dodgerblue;
}
.menu {
    background-color: brown;
    width: 100%;
    height: 60px;
   /* padding-top: 1px;*/
    margin: 0px;
    border: 1px solid black;
    
}
div a {
    border: 1px solid transparent;
    margin: 50px;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    color: gray;
    padding-bottom: 10px;
    margin-bottom: 10px;

    
}

.li1 a:hover {
    background-color: yellow;
}

.logo {
    float: left;
    height: 130px;
    width: 130px;
    margin-left: 25px;
    margin-top: 10px;
}
.menu ul li {
    height: 41px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17pt;
    position: relative;
    font-style: normal;
}
.menu li:after {
    content: "|";
    color: white;
    display: inline-block;
    vertical-align:top;
  
}
.left {
    float:left;
	position:absolute;
	top:207px;
    bottom:90px;
    width:260px;
    background-color: honeydew;
    margin-left: 5px;
}


#footer {
	height:90px;
	/*width:768px;*/
	width:70%;
	background-color: #CCC;
	clear:both;
	margin: 0 auto;
	margin-top:-100px;
    min-width: 900px;
    text-align: center;
}
h1 {
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: deepskyblue;
    padding-left: 15px;
    margin-top: 3px;
}
.left a {
    padding: 5px ;
    color: blue;
    text-decoration-line: underline;
    margin-left: 3px;
    text-align: justify;
    font-size: 14px;

}
.left img {
    float: left;
    margin-right: 3px;

}

.news {
    margin-bottom:  50px;
}
.content {
    float: left;
    /*border: 1px solid black;*/
    width: 83%;
    height: 425px;
    display: absolute;
    margin-left: 270px;
    margin-top: 5px;
    /*background-color: honeydew;*/
    min-width: 900px;
}
#footer p {
    padding-top: 40px;
}
.news1, .news2, .news3, .news4 {
    width: 310px;
    height: 425px;
    /*border: 1px solid black;*/
    margin-left: 5px;
    background-color: honeydew;
    float: left;
}
h3 {
    text-align: center;
    color:  dodgerblue;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: double;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16pt;
    margin-top: 3px;
}
.news1  img {
  margin-left: 60px;
}

.news2 img {
    margin-left: 60px;
  }
.news3 img {
    margin-left: 60px;
  }
.news4 img {
    margin-left: 60px;
  }