* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}


body {
    color: #666666;
    font-size: 16px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .row { display: inline-block; }
  /* start commented backslash hack \*/
  * html .row { height: 1%; }
  .row { display: block; }
  /* close commented backslash hack */

.header {
    margin-bottom: 10px;
}
.inner-header {
    background-color: #f9f8f6;
    height: 200px;
    text-align: center;
}

.content  { 
    width: 523px;
    float: left;
}
.inner-content, .inner-content1, .inner-content2 {
    background-color: #f9f8f6;
    min-height: 500px;
}
.content1 {
    width: 523px;
    float: left;
    padding-left: 10px;
}
.content2 {
    width: 523px;
    float: left;
    padding-left: 10px;
}
.footer {
    margin-bottom: 10px;
}
.inner-footer {
    background-color: black;
    height: 100px;
    margin-top: 10px;
    padding: 10px 0px 5px 0px;
}
.photocard {
    
    display: block;
    width: 300px;
    margin: 20px auto;  
    box-shadow: 0 0 5px #666666;
}
